.scan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  height: 100vh;
}

.dog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icon {
  color: black;
  margin-right: 10px;
}

#phone-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: #47bfaf;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

#phone-button a {
  text-decoration: none;
  color: black;
}

.form-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.scan-input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
}
@media screen and (min-width: 600px) {
  .scan-input {
    width: 600px;
    height: 50px;
  }
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-button {
  width: 200px;
  height: 40px;
  color: black;
  background-color: #47bfaf;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-buttons-container {
  display: flex;
  margin-top: 20px;
  align-content: space-between;
}

#puppy-pic {
  clip-path: circle();
  max-width: 300px;
  height: auto;
}

#logo {
  width: 70%;
  left: 0px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}